@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    <p>Här kan du se ditt och andras resultat i dom tävlingar som pågår just nu.</a>.</p>
    <p>Du kan även anmäla dig till tävlingar som du är intresserad av att vara med i.</a>.</p>
</div>
